<div>
<div class='container'>
    <div class='title'>
      <h1><%= @material.name %></h1>
    </div>

    <div class="row">

      <div class="text-center col-sm-4 mt-5">
        <div class='container'>
          <div id="price-discount">
            <h5 class="text-left">Quantidade: <%= @material.qtde%>un</h5>
          </div>
        </div>
      </div>
      <div id="coupon-buttons">
        <%= link_to "Edit", edit_material_path(@material)%>
        <%= link_to "Delete", (@material), method: :delete, data: { confirm: "Are you sure?" } %>
     </div>
</div>
